<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <!-- Debug output state [0: off, 1:on]-->
    <add key="debugOutput" value="0" />
    
    <!-- Debug output state [0: off, 1:on]-->
    <add key="modifyByDefault" value="0" />
    
    <!-- This will be used only if getting original publisher failed-->
    <add key="defaultPublisher" value="" />
    
    <!-- You can change this value from the app-->
    <add key="defaultPFXPassword" value="" />
    
    <!--Below need to be changed manually-->
    <!--Folders to be copied to the output package path-->
    <add key="foldersToCopy" value="folder1|folder2" />
    <!--Files to be copied to the output package path-->
    <add key="filesToCopy" value="file1|file2" />
  </appSettings>
</configuration>
